/* General styling for a user-friendly and bubbly design */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    background-color: #ffffffe8;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
    align-items: center;
    display: flex;
}

/* Center the image within the card */
.card img {
    display: block;
    margin: 0 auto;
    height: 700px;
    margin-left: 15px;
    object-fit: contain;
    border-radius: 15px;
}

.card-content {
    padding: 15px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #161616;
    margin-bottom: 10px;
}

.card-details {
    font-size: 1rem;
    color: #323131;
    margin-bottom: 5px;
}

.card-details a {
    color: #007bff;
    text-decoration: none;
}

.card-details a:hover {
    text-decoration: underline;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
    z-index: 10;
}

.back-button:hover {
    background-color: #0056b3;
}